{% extends "base.html" %} {% load static %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to bookself!</h1>
    <p class="lead">
        This application is built for the FBLA coding and programming competition.
        Find help in the help tab on how to use the software!
    </p>
    <hr class="my-4" />
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Books</h1>
        <p class="lead">You have {{ bookCount }} books in the system currently.</p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Students</h1>
        <p class="lead">
            You have {{ studentCount }} students in the system currently.
        </p>
    </div>
</div>
{% endblock %}