{% extends "base.html" %} {% load static %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to to ___ software!</h1>
    <p class="lead">
        This application is built for the FBLA coding and programming competition.
        Find help resources and demos below:
    </p>
    <hr class="my-4" />
    <ol id="homePageDemos">
        <li>Creating students + grade level</li>
        <img src="/media/creatingStudent.gif" />
        <li>Editing students + grade level</li>
        <img src="/media/editingStudent.gif" />
        <li>Creating books</li>
        <img src="/media/creatingBook.gif" />
        <li>Adding a claim code</li>
        <img src="/media/addingClaim.gif" />
        <li>Assigning a claim code to student</li>
        <img src="/media/assignClaim.gif" />
        <li>Deleting a claim code/ebook</li>
        <img src="/media/removeEbook.gif" />
    </ol>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Books</h1>
        <p class="lead">You have {{ bookCount }} books in the system currently.</p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Students</h1>
        <p class="lead">
            You have {{ studentCount }} students in the system currently.
        </p>
    </div>
</div>
{% endblock %}